node_modules/
.env
/data/
downloads/
putiorr-compose/.env
putiorr-compose/data/**
!putiorr-compose/data/
!putiorr-compose/data/downloads/
!putiorr-compose/data/downloads/.gitkeep
!putiorr-compose/data/movies/
!putiorr-compose/data/movies/.gitkeep
!putiorr-compose/data/music/
!putiorr-compose/data/music/.gitkeep
!putiorr-compose/data/putiorr/
!putiorr-compose/data/putiorr/.gitkeep
!putiorr-compose/data/putiorr-config/
!putiorr-compose/data/putiorr-config/.gitkeep
!putiorr-compose/data/series/
!putiorr-compose/data/series/.gitkeep
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
